.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.App h2 {
  margin-top: 2rem;
}
form {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.todo {
  margin: 2rem 0;
  display: flex;
  padding: 1rem;
  background-color: #c8c8c8;
  border-radius: 10px;
  box-shadow: 10px 10px 25px -12px rgba(0, 0, 0, 0.29);
}

.todo__buttons {
  display: flex;
  gap: 1rem;
}

#todo_btn {
  border-radius: 15px;
  width: 100px;
}
